{{- $image := resources.Get .Destination -}}
{{- if .IsBlock -}}
  <figure>
    {{ with $image.Resize (printf "%dx%d webp" $image.Width $image.Height) }}

      <img src="{{ .RelPermalink }}"
        {{- with $.Text }} alt="{{ . }}"{{ end -}}  
        height = "auto" width="{{$image.Width}}" max-width="100%" 
      >
    {{ end }}
    <figcaption align = "center">Figure: {{ .Title }}</figcaption>
  </figure>
{{- else -}}
  {{ with $image.Resize (printf "%dx%d webp" $image.Width $image.Height) }}

     <img src="{{ .RelPermalink }}"
        {{- with $.Text }} alt="{{ . }}"{{ end -}}  
        height = "auto" width="{{$image.Width}}" max-width="100%"
      >
    
  {{ end }}
{{- end -}}